<li>
	{{burger_name}}

	<button class="change-devour-status" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}Ready to devour{{else}}Order Another!{{/if}}
	</button>
	<button class="delete" data-id="{{id}}">{{#if devoured}} Take it back!!! I found a hair! {{else}}All done! {{/if}}</button>
</li>