<li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}Devoured{{else}}Ready to devour{{/if}}
	</button>
	<button class="delete" data-id="{{id}}">All done!</button>
</li>